# ETL Pipeline Preparation
Follow the instructions below to help you create your ETL pipeline.
### 1. Import libraries and load datasets.
- Import Python libraries
- Load `messages.csv` into a dataframe and inspect the first few lines.
- Load `categories.csv` into a dataframe and inspect the first few lines.

In [3]:
# import libraries
import pandas as pd
from sqlalchemy import create_engine

In [4]:
# load messages dataset
messages = pd.read_csv("disaster_messages.csv", header=0).set_index("id")
messages.head()

,message,original,genre
id,,,
2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [5]:
# load categories dataset
categories = pd.read_csv("disaster_categories.csv", header=0).set_index("id")
categories.head()

                                           categories
id
2   related-1;request-0;offer-0;aid_related-0;medi...
7   related-1;request-0;offer-0;aid_related-1;medi...
8   related-1;request-0;offer-0;aid_related-0;medi...
9   related-1;request-1;offer-0;aid_related-1;medi...
12  related-1;request-0;offer-0;aid_related-0;medi...

### 2. Merge datasets.
- Merge the messages and categories datasets using the common id
- Assign this combined dataset to `df`, which will be cleaned in the following steps

In [6]:
# merge datasets
df = messages.join(categories, how="inner")
df.head()

,message,original,genre,categories
id,,,,
2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,related-1;request-0;offer-0;aid_related-0;medi...
7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,related-1;request-0;offer-0;aid_related-1;medi...
8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,related-1;request-0;offer-0;aid_related-0;medi...
9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,related-1;request-1;offer-0;aid_related-1;medi...
12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,related-1;request-0;offer-0;aid_related-0;medi...

### 3. Split `categories` into separate category columns.
- Split the values in the `categories` column on the `;` character so that each value becomes a separate column. You'll find [this method](https://pandas.pydata.org/pandas-docs/version/0.23/generated/pandas.Series.str.split.html) very helpful! Make sure to set `expand=True`.
- Use the first row of categories dataframe to create column names for the categories data.
- Rename columns of `categories` with new column names.

In [7]:
# create a dataframe of the 36 individual category columns
categories = df.categories.str.split(";", expand=True)
categories.head()

,0,1,2,3,4,5,6,7,8,9,...,26,27,28,29,30,31,32,33,34,35
id,,,,,,,,,,,,,,,,,,,,,
2,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
7,related-1,request-0,offer-0,aid_related-1,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-1,floods-0,storm-1,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
8,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
9,related-1,request-1,offer-0,aid_related-1,medical_help-0,medical_products-1,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
12,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0

In [8]:
# select the first row of the categories dataframe
row = categories.iloc[0, :]

# use this row to extract a list of new column names for categories.
# one way is to apply a lambda function that takes everything 
# up to the second to last character of each string with slicing
category_colnames = row.str.extract(r"([a-z\_]*)")[0].tolist()
print(category_colnames)

['related', 'request', 'offer', 'aid_related', 'medical_help', 'medical_products', 'search_and_rescue', 'security', 'military', 'child_alone', 'water', 'food', 'shelter', 'clothing', 'money', 'missing_people', 'refugees', 'death', 'other_aid', 'infrastructure_related', 'transport', 'buildings', 'electricity', 'tools', 'hospitals', 'shops', 'aid_centers', 'other_infrastructure', 'weather_related', 'floods', 'storm', 'fire', 'earthquake', 'cold', 'other_weather', 'direct_report']

In [9]:
# rename the columns of `categories`
categories.columns = category_colnames
categories.head()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
id,,,,,,,,,,,,,,,,,,,,,
2,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
7,related-1,request-0,offer-0,aid_related-1,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-1,floods-0,storm-1,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
8,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
9,related-1,request-1,offer-0,aid_related-1,medical_help-0,medical_products-1,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
12,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0

### 4. Convert category values to just numbers 0 or 1.
- Iterate through the category columns in df to keep only the last character of each string (the 1 or 0). For example, `related-0` becomes `0`, `related-1` becomes `1`. Convert the string to a numeric value.
- You can perform [normal string actions on Pandas Series](https://pandas.pydata.org/pandas-docs/stable/text.html#indexing-with-str), like indexing, by including `.str` after the Series. You may need to first convert the Series to be of type string, which you can do with `astype(str)`.

In [10]:
for column in categories:
    # set each value to be the last character of the string
    categories[column] = categories[column].str[-1]
    
    # convert column from string to numeric
    categories[column] = pd.to_numeric(categories[column]).replace(2, 1)
categories.head()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
id,,,,,,,,,,,,,,,,,,,,,
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,1,0,0,1,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
8,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,1,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
categories[categories.related==3]

Empty DataFrame
Columns: [related, request, offer, aid_related, medical_help, medical_products, search_and_rescue, security, military, child_alone, water, food, shelter, clothing, money, missing_people, refugees, death, other_aid, infrastructure_related, transport, buildings, electricity, tools, hospitals, shops, aid_centers, other_infrastructure, weather_related, floods, storm, fire, earthquake, cold, other_weather, direct_report]
Index: []

[0 rows x 36 columns]

### 5. Replace `categories` column in `df` with new category columns.
- Drop the categories column from the df dataframe since it is no longer needed.
- Concatenate df and categories data frames.

In [12]:
# drop the original categories column from `df`
df = pd.concat([df.drop("categories", axis=1), categories], axis=1)

df.head()

,message,original,genre,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
id,,,,,,,,,,,,,,,,,,,,,
2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,1,0,0,1,0,0,0,...,0,0,1,0,1,0,0,0,0,0
8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,1,1,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### 6. Remove duplicates.
- Check how many duplicates are in this dataset.
- Drop the duplicates.
- Confirm duplicates were removed.

In [13]:
# check number of duplicates
df.duplicated().sum()

172

In [14]:
# drop duplicates
df = df.drop_duplicates()

In [15]:
# check number of duplicates
df.duplicated().sum()

0

### 7. Explore data
- categories distribution

In [26]:
categories_names = df.columns[4:]
categories_names

Index(['request', 'offer', 'aid_related', 'medical_help', 'medical_products',
       'search_and_rescue', 'security', 'military', 'child_alone', 'water',
       'food', 'shelter', 'clothing', 'money', 'missing_people', 'refugees',
       'death', 'other_aid', 'infrastructure_related', 'transport',
       'buildings', 'electricity', 'tools', 'hospitals', 'shops',
       'aid_centers', 'other_infrastructure', 'weather_related', 'floods',
       'storm', 'fire', 'earthquake', 'cold', 'other_weather',
       'direct_report'],
      dtype='object')

In [31]:
categories_counts = df[categories_names].sum().sort_values(ascending=False)
categories_counts

aid_related               10860
weather_related            7297
direct_report              5075
request                    4474
other_aid                  3446
food                       2923
earthquake                 2455
storm                      2443
shelter                    2314
floods                     2155
medical_help               2084
infrastructure_related     1705
water                      1672
other_weather              1376
buildings                  1333
medical_products           1313
transport                  1201
death                      1194
other_infrastructure       1151
refugees                    875
military                    860
search_and_rescue           724
money                       604
electricity                 532
cold                        530
security                    471
clothing                    405
aid_centers                 309
missing_people              298
hospitals                   283
fire                        282
tools                       159
shops                       120
offer                       118
child_alone                   0
dtype: int64

In [29]:
genre_counts = df.groupby('genre').count()['message']
#genre_names = list(genre_counts.index)
genre_counts

genre
direct    10766
news      13053
social     2395
Name: message, dtype: int64

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26214 entries, 2 to 30265
Data columns (total 39 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   message                 26214 non-null  object
 1   original                10170 non-null  object
 2   genre                   26214 non-null  object
 3   related                 26214 non-null  int64
 4   request                 26214 non-null  int64
 5   offer                   26214 non-null  int64
 6   aid_related             26214 non-null  int64
 7   medical_help            26214 non-null  int64
 8   medical_products        26214 non-null  int64
 9   search_and_rescue       26214 non-null  int64
 10  security                26214 non-null  int64
 11  military                26214 non-null  int64
 12  child_alone             26214 non-null  int64
 13  water                   26214 non-null  int64
 14  food                    26214 non-null  int64
 15  shelter                 26214 non-null  int64
 16  clothing                26214 non-null  int64
 17  money                   26214 non-null  int64
 18  missing_people          26214 non-null  int64
 19  refugees                26214 non-null  int64
 20  death                   26214 non-null  int64
 21  other_aid               26214 non-null  int64
 22  infrastructure_related  26214 non-null  int64
 23  transport               26214 non-null  int64
 24  buildings               26214 non-null  int64
 25  electricity             26214 non-null  int64
 26  tools                   26214 non-null  int64
 27  hospitals               26214 non-null  int64
 28  shops                   26214 non-null  int64
 29  aid_centers             26214 non-null  int64
 30  other_infrastructure    26214 non-null  int64
 31  weather_related         26214 non-null  int64
 32  floods                  26214 non-null  int64
 33  storm                   26214 non-null  int64
 34  fire                    26214 non-null  int64
 35  earthquake              26214 non-null  int64
 36  cold                    26214 non-null  int64
 37  other_weather           26214 non-null  int64
 38  direct_report           26214 non-null  int64
dtypes: int64(36), object(3)
memory usage: 9.2+ MB

In [39]:
list(categories.columns)

['related',
 'request',
 'offer',
 'aid_related',
 'medical_help',
 'medical_products',
 'search_and_rescue',
 'security',
 'military',
 'child_alone',
 'water',
 'food',
 'shelter',
 'clothing',
 'money',
 'missing_people',
 'refugees',
 'death',
 'other_aid',
 'infrastructure_related',
 'transport',
 'buildings',
 'electricity',
 'tools',
 'hospitals',
 'shops',
 'aid_centers',
 'other_infrastructure',
 'weather_related',
 'floods',
 'storm',
 'fire',
 'earthquake',
 'cold',
 'other_weather',
 'direct_report']

In [75]:
pd.melt(categories, value_vars=list(categories.columns))

             variable  value
0             related      1
1             related      1
2             related      1
3             related      1
4             related      1
...               ...    ...
949891  direct_report      0
949892  direct_report      0
949893  direct_report      0
949894  direct_report      0
949895  direct_report      0

[949896 rows x 2 columns]

In [50]:
pd.melt(categories,)

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
id,,,,,,,,,,,,,,,,,,,,,
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,1,0,0,1,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
8,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,1,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30261,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30262,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30263,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30264,1,0,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
30265,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [77]:
categories

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
id,,,,,,,,,,,,,,,,,,,,,
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,1,0,0,1,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
8,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,1,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30261,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30262,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30263,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30264,1,0,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
30265,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [87]:
combination_occurences = (categories.reset_index()
    .groupby(list(categories.columns))
    .agg({"id":"count"}).rename(columns={'id':'occurences'})
    .sort_values("occurences", ascending=False)
    .reset_index().reset_index().rename(columns={"index": "id"}))

combination_occurences

,id,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,...,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report,occurences
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,6140
1,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5345
2,2,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,725
3,3,1,0,0,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,441
4,4,1,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,433
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3997,3997,1,0,0,1,0,0,1,0,0,...,0,1,1,0,0,1,0,1,0,1
3998,3998,1,0,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
3999,3999,1,0,0,1,0,0,1,0,0,...,0,1,1,0,0,0,0,0,0,1
4000,4000,1,0,0,1,0,0,1,0,0,...,0,1,1,1,0,0,0,0,1,1
4001,4001,1,1,0,1,1,1,1,1,1,...,0,1,1,0,0,0,0,0,1,1

In [92]:
combination_occurences_top20 = combination_occurences.iloc[:20]
combination_occurences_top20

,id,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,...,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report,occurences
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,6140
1,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5345
2,2,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,725
3,3,1,0,0,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,441
4,4,1,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,433
5,5,1,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,361
6,6,1,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,303
7,7,1,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,284
8,8,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,253
9,9,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,250
10,10,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,247
11,11,1,0,0,0,0,0,0,0,0,...,0,1,1,0,0,0,0,0,0,197
12,12,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,196
13,13,1,0,0,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,1,195
14,14,1,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,174
15,15,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,1,0,160
16,16,1,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,153
17,17,1,0,0,1,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,130
18,18,1,0,0,0,0,0,0,0,0,...,0,1,1,1,0,0,0,0,0,130
19,19,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,1,129

In [90]:
combination_occurences_melt = pd.melt(combination_occurences, id_vars=["id", "occurences"], value_vars=list(categories.columns))
combination_occurences_melt

          id  occurences       variable  value
0          0        6140        related      0
1          1        5345        related      1
2          2         725        related      1
3          3         441        related      1
4          4         433        related      1
...      ...         ...            ...    ...
144067  3997           1  direct_report      0
144068  3998           1  direct_report      0
144069  3999           1  direct_report      0
144070  4000           1  direct_report      1
144071  4001           1  direct_report      1

[144072 rows x 4 columns]

In [91]:
combination_occurences_melt.loc[combination_occurences_melt.value == 1].groupby("id").agg({"variable": list, "occurences":"first"})#.join(combination_occurences["id"])

                                               variable  occurences
id
1                                             [related]        5345
2                [related, weather_related, earthquake]         725
3                     [related, weather_related, storm]         441
4     [related, request, aid_related, other_aid, dir...         433
5     [related, request, aid_related, food, direct_r...         361
...                                                 ...         ...
3997  [related, aid_related, search_and_rescue, othe...           1
3998  [related, aid_related, search_and_rescue, othe...           1
3999  [related, aid_related, search_and_rescue, othe...           1
4000  [related, aid_related, search_and_rescue, othe...           1
4001  [related, request, aid_related, medical_help, ...           1

[4001 rows x 2 columns]

In [43]:
df.groupby(list(categories.columns)).count().head()

                                                                                                                                                                                                                                                                                                                                                                                       message  \
related request offer aid_related medical_help medical_products search_and_rescue security military child_alone water food shelter clothing money missing_people refugees death other_aid infrastructure_related transport buildings electricity tools hospitals shops aid_centers other_infrastructure weather_related floods storm fire earthquake cold other_weather direct_report
0       0       0     0           0            0                0                 0        0        0           0     0    0       0        0     0              0        0     0         0                      0         0         0           0     0         0     0           0                    0               0      0     0    0          0    0             0                 6121
1       0       0     0           0            0                0                 0        0        0           0     0    0       0        0     0              0        0     0         0                      0         0         0           0     0         0     0           0                    0               0      0     0    0          0    0             0                 5308
                                                                                                                                                                                                                                                                                                                                                                        1                  196
                                                                                                                                                                                                                                                                                                        1               0      0     0    0          0    1             0                  160
                                                                                                                                                                                                                                                                                                                                                                        1                   17

                                                                                                                                                                                                                                                                                                                                                                                       original  \
related request offer aid_related medical_help medical_products search_and_rescue security military child_alone water food shelter clothing money missing_people refugees death other_aid infrastructure_related transport buildings electricity tools hospitals shops aid_centers other_infrastructure weather_related floods storm fire earthquake cold other_weather direct_report
0       0       0     0           0            0                0                 0        0        0           0     0    0       0        0     0              0        0     0         0                      0         0         0           0     0         0     0           0                    0               0      0     0    0          0    0             0                  3395
1       0       0     0           0            0                0                 0        0        0           0     0    0       0        0     0              0        0     0         0                      0         0         0           0     0         0     0           0                    0               0      0     0    0          0    0             0                  1964
                                                                                                                                                                                                                                                                                                                                                                        1                    84
                                                                                                                                                                                                                                                                                                        1               0      0     0    0          0    1             0                    11
                                                                                                                                                                                                                                                                                                                                                                        1                     2

                                                                                                                                                                                                                                                                                                                                                                                       genre
related request offer aid_related medical_help medical_products search_and_rescue security military child_alone water food shelter clothing money missing_people refugees death other_aid infrastructure_related transport buildings electricity tools hospitals shops aid_centers other_infrastructure weather_related floods storm fire earthquake cold other_weather direct_report
0       0       0     0           0            0                0                 0        0        0           0     0    0       0        0     0              0        0     0         0                      0         0         0           0     0         0     0           0                    0               0      0     0    0          0    0             0               6121
1       0       0     0           0            0                0                 0        0        0           0     0    0       0        0     0              0        0     0         0                      0         0         0           0     0         0     0           0                    0               0      0     0    0          0    0             0               5308
                                                                                                                                                                                                                                                                                                                                                                        1                196
                                                                                                                                                                                                                                                                                                        1               0      0     0    0          0    1             0                160
                                                                                                                                                                                                                                                                                                                                                                        1                 17

#### Euclidean Distance

In [116]:
categories_df = df[df.columns[3:]]

In [123]:
categories_df.T.dot(categories_df)

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
related,20093,4474,118,10860,2084,1313,724,471,860,0,...,309,1151,7297,2155,2443,282,2455,530,1376,5075
request,4474,4474,0,4030,699,453,239,155,69,0,...,77,191,1181,353,286,39,439,88,201,3391
offer,118,0,118,107,12,21,3,0,4,0,...,1,0,22,9,4,1,5,0,4,36
aid_related,10860,4030,107,10860,2084,1313,724,471,860,0,...,290,825,4234,1487,1238,188,1320,367,933,4015
medical_help,2084,699,12,2084,2084,632,178,95,76,0,...,71,142,887,533,209,42,228,73,171,682
medical_products,1313,453,21,1313,632,1313,112,69,38,0,...,65,109,484,252,123,34,130,59,110,396
search_and_rescue,724,239,3,724,178,112,724,71,59,0,...,29,86,478,229,116,31,150,54,81,237
security,471,155,0,471,95,69,71,471,115,0,...,18,44,256,141,47,26,64,28,35,158
military,860,69,4,860,76,38,59,115,860,0,...,26,70,207,70,37,30,54,25,52,96
child_alone,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
water,1672,862,10,1672,370,431,71,26,35,0,...,61,147,466,175,148,27,123,40,157,813
food,2923,1589,48,2923,431,491,95,55,54,0,...,69,172,758,270,270,38,138,62,237,1537
shelter,2314,1180,13,2314,349,383,109,62,45,0,...,153,250,949,329,334,38,263,122,210,1137
clothing,405,169,14,405,67,146,18,28,11,0,...,17,21,130,42,35,7,35,27,23,164
money,604,196,17,604,71,68,26,10,19,0,...,22,69,290,99,83,8,128,15,60,143
missing_people,298,80,0,298,88,76,112,60,22,0,...,13,30,236,156,53,6,71,17,35,67
refugees,875,192,1,875,173,128,123,83,77,0,...,74,116,466,263,133,25,106,39,94,180
death,1194,222,0,1194,273,131,135,93,135,0,...,35,128,743,336,238,33,261,65,166,255
other_aid,3446,1401,35,3446,472,380,216,134,111,0,...,104,398,1634,543,472,69,592,111,372,1342
infrastructure_related,1705,344,2,1337,327,223,148,87,119,0,...,309,1151,1151,446,383,69,336,105,317,410
transport,1201,258,4,917,443,206,195,129,59,0,...,40,203,965,697,262,35,167,79,136,318
buildings,1333,364,0,977,168,107,125,57,50,0,...,66,353,934,367,314,57,323,71,198,430
electricity,532,105,2,348,63,65,49,26,26,0,...,21,105,368,101,186,39,67,54,76,175
tools,159,42,0,152,42,42,35,21,18,0,...,7,28,111,31,26,15,38,31,26,44
hospitals,283,65,1,262,143,73,41,20,24,0,...,43,38,159,41,35,13,62,28,37,77
shops,120,42,0,106,27,23,10,13,11,0,...,7,23,97,31,28,9,39,17,17,48
aid_centers,309,77,1,290,71,65,29,18,26,0,...,309,63,175,56,61,19,63,20,44,84
other_infrastructure,1151,191,0,825,142,109,86,44,70,0,...,63,1151,833,363,301,42,212,46,257,229
weather_related,7297,1181,22,4234,887,484,478,256,207,0,...,175,833,7297,2155,2443,282,2455,530,1376,1780
floods,2155,353,9,1487,533,252,229,141,70,0,...,56,363,2155,2155,632,54,209,89,278,425
storm,2443,286,4,1238,209,123,116,47,37,0,...,61,301,2443,632,2443,48,188,136,393,686
fire,282,39,1,188,42,34,31,26,30,0,...,19,42,282,54,48,282,40,21,57,59
earthquake,2455,439,5,1320,228,130,150,64,54,0,...,63,212,2455,209,188,40,2455,90,157,561
cold,530,88,0,367,73,59,54,28,25,0,...,20,46,530,89,136,21,90,530,89,108
other_weather,1376,201,4,933,171,110,81,35,52,0,...,44,257,1376,278,393,57,157,89,1376,274
direct_report,5075,3391,36,4015,682,396,237,158,96,0,...,84,229,1780,425,686,59,561,108,274,5075

In [124]:
np.sqrt(categories_df.T.dot(categories_df == 0) + (categories_df == 0).T.dot(categories_df))

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
related,0.000000,124.975998,141.332940,96.088501,134.197615,137.040140,139.172555,140.078549,138.683092,141.749780,...,140.655608,137.629939,113.119406,133.932819,132.853303,140.751554,132.808132,139.867795,136.810087,122.547950
request,124.975998,0.000000,67.764297,85.287748,71.833140,69.864154,68.702256,68.080834,72.083285,66.887966,...,68.036755,72.408563,97.000000,76.961029,79.655508,68.395906,77.788174,69.483811,73.810568,52.602281
offer,141.332940,67.764297,0.000000,103.749699,46.669048,37.269290,28.913665,24.269322,31.144823,10.862780,...,20.615528,35.623026,85.854528,47.486840,50.527220,19.949937,50.626080,25.455844,38.548671,71.561163
aid_related,96.088501,85.287748,103.749699,0.000000,93.680307,97.708751,100.677704,101.926444,100.000000,104.211324,...,102.902867,101.788997,98.432718,100.204790,104.052871,103.759337,103.319892,103.227903,101.833197,88.910067
medical_help,134.197615,71.833140,46.669048,93.680307,0.000000,46.184413,49.517674,48.631266,52.839379,45.650849,...,47.444705,54.323107,87.218117,56.329388,64.101482,47.770284,63.898357,49.678969,55.839054,76.124897
medical_products,137.040140,69.864154,37.269290,97.708751,46.184413,0.000000,42.579338,40.570926,45.793013,36.235342,...,38.626416,47.391982,87.418534,54.442630,59.245253,39.076847,59.228372,41.533119,49.689033,74.806417
search_and_rescue,139.172555,68.702256,28.913665,100.677704,49.517674,42.579338,0.000000,32.449961,38.288379,26.907248,...,31.224990,41.267421,84.053554,49.203658,54.175640,30.724583,53.656314,33.852622,44.022721,72.972598
security,140.078549,68.080834,24.269322,101.926444,48.631266,40.570926,32.449961,0.000000,33.181320,21.702534,...,27.276363,39.166312,85.182158,48.414874,53.103672,26.476405,52.896125,30.740852,42.154478,72.318739
military,138.683092,72.083285,31.144823,100.000000,52.839379,45.793013,38.288379,33.181320,0.000000,29.325757,...,33.421550,43.255058,87.994318,53.619026,56.824291,32.893768,56.630381,36.606010,46.173586,75.782584
child_alone,141.749780,66.887966,10.862780,104.211324,45.650849,36.235342,26.907248,21.702534,29.325757,0.000000,...,17.578396,33.926391,85.422479,46.421978,49.426713,16.792856,49.547957,23.021729,37.094474,71.239034
water,135.723985,66.498120,42.071368,95.854056,54.918121,46.076024,47.476310,45.727453,49.618545,40.890097,...,43.116122,50.289164,89.649317,58.966092,61.798058,43.588989,62.297673,46.065171,52.287666,71.561163
food,131.034347,64.953830,54.267854,89.089842,64.381674,57.043843,58.796258,57.306195,60.621778,54.064776,...,55.623736,61.073726,93.295230,67.364679,69.469418,55.937465,71.428286,57.697487,61.846584,70.171219
shelter,133.337917,66.543219,49.050994,92.444578,60.827625,53.488316,53.103672,51.584882,55.533774,48.104054,...,48.135226,54.451814,87.823687,61.733297,63.945289,50.199602,65.138314,50.990195,57.183914,71.519228
clothing,140.313934,67.386942,22.248595,102.249694,48.528342,37.762415,33.060551,28.635642,35.256205,20.124612,...,26.076810,38.910153,86.267027,49.759421,52.706736,25.942244,52.820451,29.681644,41.653331,71.777434
money,139.603009,68.454364,26.229754,101.271911,50.457903,42.201896,35.721142,32.480764,37.762415,24.576411,...,29.478806,40.211939,85.562842,50.606324,53.674948,29.495762,52.943366,33.226495,43.127717,73.437048
missing_people,140.694705,67.911707,20.396078,102.771591,46.968074,38.196859,28.248894,25.475478,33.376639,17.262677,...,24.103942,37.269290,84.397867,46.270941,51.332251,23.832751,51.097945,28.178006,40.049969,72.380937
refugees,138.629001,70.462756,31.480152,99.924972,51.117512,43.954522,36.783148,34.351128,39.761791,29.580399,...,32.186954,42.355637,85.088190,50.039984,55.244909,33.271610,55.839054,36.428011,45.420260,74.766303
death,137.473634,72.277244,36.221541,98.315818,52.268537,47.381431,40.595566,38.457769,42.237424,34.554305,...,37.854986,45.705580,83.695878,51.739733,56.222771,37.549967,55.919585,39.924930,47.307505,75.888075
other_aid,129.023254,71.540198,59.110067,86.104588,67.720012,63.237647,61.139185,60.406953,63.906181,58.702640,...,59.556696,61.652251,86.458082,67.193750,70.320694,59.916609,68.680419,61.269895,63.859220,76.400262
infrastructure_related,135.602360,74.101282,42.649736,99.453507,55.991071,50.714889,46.184413,44.743715,48.238988,41.291646,...,37.363083,23.537205,81.853528,54.479354,58.154965,43.000000,59.059292,45.000000,49.467161,77.201036
transport,137.448172,71.826179,36.207734,101.128631,48.979588,45.847574,39.179076,37.603191,44.079474,34.655447,...,37.815341,44.113490,81.043198,44.294469,55.856960,37.589892,57.636794,39.661064,48.010416,75.099933
buildings,136.967149,71.267103,38.091994,101.187944,55.506756,49.315312,42.508823,41.109610,45.749317,36.510273,...,38.858718,42.166337,82.231381,52.478567,56.107041,38.742741,56.053546,41.484937,48.093659,74.484898
electricity,139.860645,69.253159,25.416530,103.421468,49.899900,41.412558,34.029399,30.838288,36.606010,23.065125,...,28.266588,38.379682,84.219950,49.849774,51.019604,27.129320,53.413481,30.886890,41.904654,72.505172
tools,141.187818,67.446275,16.643317,103.513284,46.465041,37.255872,28.513155,24.248711,31.352831,12.609520,...,21.307276,35.411862,85.052925,47.455242,50.497525,20.273135,50.378567,25.039968,38.509739,71.735626
hospitals,140.748002,68.022055,19.974984,103.048532,45.617979,38.078866,30.413813,26.720778,33.090784,16.822604,...,22.494444,36.851052,85.217369,48.538644,51.536395,23.216374,51.127292,27.513633,39.812058,72.138755
shops,141.325865,67.156534,15.427249,103.768974,46.368092,37.242449,28.705400,23.769729,30.951575,10.954451,...,20.371549,35.000000,84.988234,47.042534,50.069951,19.595918,49.969991,24.819347,38.236109,71.407283
aid_centers,140.655608,68.036755,20.615528,102.902867,47.444705,38.626416,31.224990,27.276363,33.421550,17.578396,...,0.000000,36.523965,85.182158,48.497423,51.283526,23.515952,51.361464,28.266588,39.962482,72.221880
other_infrastructure,137.629939,72.408563,35.623026,101.788997,54.323107,47.391982,41.267421,39.166312,43.255058,33.926391,...,36.523965,0.000000,82.352899,50.793700,54.699177,36.728735,56.409219,39.862263,44.866469,75.947350
weather_related,113.119406,97.000000,85.854528,98.432718,87.218117,87.418534,84.053554,85.182158,87.994318,85.422479,...,85.182158,82.352899,0.000000,71.707740,69.670654,83.755597,69.584481,82.261777,76.948034,93.872254
floods,133.932819,76.961029,47.486840,100.204790,56.329388,54.442630,49.203658,48.414874,53.619026,46.421978,...,48.497423,50.793700,71.707740,0.000000,57.740800,48.259714,64.745656,50.069951,54.543561,79.874902
storm,132.853303,79.655508,50.527220,104.052871,64.101482,59.245253,54.175640,53.103672,56.824291,49.426713,...,51.283526,54.699177,69.670654,57.740800,0.000000,51.273775,67.245818,51.971146,55.072679,78.396428
fire,140.751554,68.395906,19.949937,103.759337,47.770284,39.076847,30.724583,26.476405,32.893768,16.792856,...,23.515952,36.728735,83.755597,48.259714,51.273775,0.000000,51.546096,27.748874,39.293765,72.380937
earthquake,132.808132,77.788174,50.626080,103.319892,63.898357,59.228372,53.656314,52.896125,56.630381,49.547957,...,51.361464,56.409219,69.584481,64.745656,67.245818,51.546096,0.000000,52.962251,59.304300,80.049984
cold,139.867795,69.483811,25.455844,103.227903,49.678969,41.533119,33.852622,30.740852,36.606010,23.021729,...,28.266588,39.862263,82.261777,50.069951,51.971146,27.748874,52.962251,0.000000,41.569219,73.409809
other_weather,136.810087,73.810568,38.548671,101.833197,55.839054,49.689033,44.022721,42.154478,46.173586,37.094474,...,39.962482,44.866469,76.948034,54.543561,55.072679,39.293765,59.304300,41.569219,0.000000,76.830983
direct_report,122.547950,52.602281,71.561163,88.910067,76.124897,74.806417,72.972598,72.318739,75.782584,71.239034,...,72.221880,75.947350,93.872254,79.874902,78.396428,72.380937,80.049984,73.409809,76.830983,0.000000

In [126]:
categories_df.corr().values.tolist()

[[1.0,
  0.250384256226178,
  0.03711443293532311,
  0.4641869665032515,
  0.16220304168586816,
  0.12673972677133852,
  0.09301932056370889,
  0.0746568519042929,
  0.10165173140553546,
  nan,
  0.14406283543963033,
  0.19552808085568787,
  0.1717400260594787,
  0.06914021416015458,
  0.08476225024139751,
  0.05918517608320521,
  0.10256474116853309,
  0.12057223417098814,
  0.21472568299691502,
  0.14557546747018918,
  0.12094207340246162,
  0.12775266151823342,
  0.07943834598140634,
  0.04311633335629506,
  0.0576597005780392,
  0.037429074765333276,
  0.0602804157605238,
  0.11827962321433574,
  0.34279528426729167,
  0.1651861567036205,
  0.17694031866685375,
  0.0575566283702655,
  0.1774191389052958,
  0.07928579802660463,
  0.1299091386411773,
  0.2704360609322431],
 [0.250384256226178,
  1.0,
  -0.030505085867698487,
  0.44801091461458925,
  0.12868446835174577,
  0.10640810603141748,
  0.07142210690531169,
  0.05695507232671091,
  -0.04427312314407363,
  nan,
  0.23926781697337188,
  0.35117490179699395,
  0.28059524966566096,
  0.08211288191957365,
  0.0627933287193064,
  0.027870736124414913,
  0.02408222224564503,
  0.008859252757068916,
  0.24392325505214726,
  0.021794099309117018,
  0.025713623070607,
  0.06299703949918654,
  0.010212859858334236,
  0.01940982459234686,
  0.016385639744043983,
  0.032323884553582774,
  0.022793788385646076,
  -0.0026939654678530167,
  -0.014568260472764114,
  -0.005462745202659498,
  -0.04567541468292164,
  -0.008973509009366127,
  0.00696053129677,
  -0.0017695299196931816,
  -0.015387963239636307,
  0.6479312791562422],
 [0.03711443293532311,
  -0.030505085867698487,
  1.0,
  0.06723035839917804,
  0.005517254320329641,
  0.03942245222430199,
  -0.0009007154202848553,
  -0.009095674433678425,
  0.0004120045325579163,
  nan,
  0.005768577200956887,
  0.06308187393785006,
  0.005190061120467898,
  0.05626391782585441,
  0.05424318287593133,
  -0.007210712469400412,
  -0.009323242633965043,
  -0.014689687011806984,
  0.03286665801205764,
  -0.013114116741797858,
  -0.0038326267286056194,
  -0.015564500612689101,
  -0.0015953581951068392,
  -0.005252995819933376,
  -0.0015104057086469133,
  -0.00456009957204735,
  -0.002064144530886827,
  -0.014410371150863606,
  -0.013791408542959724,
  -0.0014533723221016289,
  -0.013716032912324184,
  -0.001488185871408267,
  -0.011835596290151866,
  -0.009659633210744726,
  -0.0056061274495980895,
  0.018973482436651933],
 [0.4641869665032515,
  0.44801091461458925,
  0.06723035839917804,
  1.0,
  0.349434717884846,
  0.27303594438699175,
  0.20039192669373562,
  0.16083358062956288,
  0.2189887668999687,
  nan,
  0.310355192703811,
  0.42122699465017127,
  0.36998028478353817,
  0.14894906395370405,
  0.1826036842006872,
  0.12750288214472402,
  0.22095566780158934,
  0.2597492882649307,
  0.4625844724042315,
  0.19804776565414126,
  0.15535673596052163,
  0.14972825781727825,
  0.07007998049780784,
  0.08590399845112809,
  0.1084794670331234,
  0.06457254024192051,
  0.11622940121605604,
  0.13159319449103163,
  0.20924092892347793,
  0.16753032446250585,
  0.060180216064782896,
  0.05342891605520871,
  0.08052292316461229,
  0.08111947124841636,
  0.12603284022641356,
  0.37484574355516825],
 [0.16220304168586816,
  0.12868446835174577,
  0.005517254320329641,
  0.349434717884846,
  1.0,
  0.3411017317204823,
  0.10364081732413057,
  0.061101847017081594,
  0.0060406284116243285,
  nan,
  0.13681123850963456,
  0.08898703332293877,
  0.08203694692631217,
  0.03979290314807692,
  0.021601106539202462,
  0.08554338145834181,
  0.081205763115606,
  0.1204395808631669,
  0.08265115804553087,
  0.10948225880313688,
  0.23438647861406087,
  0.039814263900788495,
  0.020707958364857476,
  0.05332262211037468,
  0.16443561438511808,
  0.036474600545545834,
  0.060670412188371096,
  0.034754350291408484,
  0.09655909957290774,
  0.18568042815088825,
  0.007170912436957667,
  0.026767091614499583,
  0.015889852517107183,
  0.030924770905431706,
  0.03895652134018738,
  0.0994106999297605],
 [0.12673972677133852,
  0.10640810603141748,
  0.03942245222430199,
  0.27303594438699175,
  0.3411017317204823,
  1.0,
  0.08082457593720346,
  0.05978487606095199,
  -0.00498304862118273,
  nan,
  0.24852255323998054,
  0.19146579147408935,
  0.16465725583285012,
  0.17826442837483608,
  0.04399990945813915,
  0.10075247985923097,
  0.08195354765874488,
  0.05971695782205425,
  0.10734363340359616,
  0.09758594239295984,
  0.12199121894060608,
  0.0320277502623052,
  0.047569139458135595,
  0.07666331290854246,
  0.09955266183882519,
  0.04401608881541313,
  0.08024675283679986,
  0.04382989605062715,
  0.046243252523179325,
  0.09172258871811899,
  0.00038240800744051,
  0.03369478900529867,
  0.004222718279554446,
  0.04032596680767323,
  0.03221422839668678,
  0.06276578864751131],
 [0.09301932056370889,
  0.07142210690531169,
  -0.0009007154202848553,
  0.20039192669373562,
  0.10364081732413057,
  0.08082457593720346,
  1.0,
  0.10162572072721575,
  0.04606156838499874,
  nan,
  0.02364453624603386,
  0.01055357233892,
  0.03699806181683525,
  0.01286150999159497,
  0.014457364051899296,
  0.2278542178251043,
  0.12808097151341463,
  0.11390213585044762,
  0.0832372386654722,
  0.09525501790875353,
  0.1801702817887008,
  0.0934373238612914,
  0.0566355142398889,
  0.0917653120313796,
  0.07474863961329391,
  0.02305513419780735,
  0.044140413008988855,
  0.061589990572578523,
  0.14358913392187234,
  0.14362788672173973,
  0.03885785837499253,
  0.05237687149645955,
  0.06567328685771333,
  0.06510093255288914,
  0.044879144927800964,
  0.05704908657063443],
 [0.0746568519042929,
  0.05695507232671091,
  -0.009095674433678425,
  0.16083358062956288,
  0.061101847017081594,
  0.05978487606095199,
  0.10162572072721575,
  1.0,
  0.16049190128350363,
  nan,
  -0.004749846977837161,
  0.0022636641494607613,
  0.020674576230050933,
  0.04825432110331589,
  -0.001631539648780871,
  0.14803248304955735,
  0.1075648577686244,
  0.098545705767051,
  0.06126494793476401,
  0.06564187651657755,
  0.1475462576727733,
  0.043202299561481104,
  0.03348566592068452,
  0.06710614313569857,
  0.041449513300588534,
  0.04613365073164725,
  0.033122515048497815,
  0.03268561213096995,
  0.08002518282497631,
  0.10693545807724114,
  0.0030677897299093253,
  0.05827544643924177,
  0.0196057595215577,
  0.03770168551315906,
  0.013233671763044966,
  0.04856312702985725],
 [0.10165173140553546,
  -0.04427312314407363,
  0.0004120045325579163,
  0.2189887668999687,
  0.0060406284116243285,
  -0.00498304862118273,
  0.04606156838499874,
  0.16049190128350363,
  1.0,
  nan,
  -0.017398697697362193,
  -0.028504274148842955,
  -0.02333735834952399,
  -0.003970769161455517,
  -0.0011638314205698207,
  0.024692546073548597,
  0.057577781561102215,
  0.09842603598990049,
  -0.0013008827675697083,
  0.054767007130235,
  0.02007421153468161,
  0.0061103905209883595,
  0.012980475811210222,
  0.03525927760571302,
  0.03049561322035683,
  0.02240782366228813,
  0.031475022202577675,
  0.03369703756298505,
  -0.015477446787218196,
  -0.0005448670901382258,
  -0.03178545873331718,
  0.043072891745268814,
  -0.01950909727171102,
  0.011582705070534863,
  0.006585251861734957,
  -0.03820840557826557],
 [nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan],
 [0.14406283543963033,
  0.23926781697337188,
  0.005768577200956887,
  0.310355192703811,
  0.13681123850963456,
  0.24852255323998054,
  0.02364453624603386,
  -0.004749846977837161,
  -0.017398697697362193,
  nan,
  1.0,
  0.3519190289745791,
  0.20822769578758096,
  0.1002067013116768,
  0.026506674584257928,
  0.004406956762143284,
  0.03319040315412815,
  0.007369896221960526,
  0.04490841309204806,
  0.07928929987390212,
  0.023441933784729165,
  0.031960083831332135,
  0.06207287950539776,
  0.033895049375011754,
  0.03617875767606474,
  0.04705219232160525,
  0.05972360858301806,
  0.05606628423095088,
  0.00020116594312871646,
  0.021339662038063815,
  -0.00419996943989393,
  0.013639556862122806,
  -0.017996408355056358,
  0.006871374945735201,
  0.04846389125205239,
  0.19332035626807992],
 [0.19552808085568787,
  0.35117490179699395,
  0.06308187393785006,
  0.42122699465017127,
  0.08898703332293877,
  0.19146579147408935,
  0.01055357233892,
  0.0022636641494607613,
  -0.028504274148842955,
  nan,
  0.3519190289745791,
  1.0,
  0.22940329830845835,
  0.197361616775435,
  0.05384023044046018,
  -0.012836822773182856,
  0.024582119525724012,
  0.000501444758855338,
  0.036496465009048795,
  0.04024352493161553,
  0.014539011099522195,
  0.01509546141511864,
  0.000583766102545414,
  0.02695811833602041,
  0.001693514732317258,
  0.04240646403197561,
  0.03879155935198022,
  0.025824294575386153,
  -0.015049580691497135,
  0.013107131049706974,
  -0.0010036848382029991,
  0.00770173181249341,
  -0.0564690512029797,
  0.002499086832209864,
  0.04541517135699183,
  0.29787445934530676],
 [0.1717400260594787,
  0.28059524966566096,
  0.005190061120467898,
  0.36998028478353817,
  0.08203694692631217,
  0.16465725583285012,
  0.03699806181683525,
  0.020674576230050933,
  -0.02333735834952399,
  nan,
  0.20822769578758096,
  0.22940329830845835,
  1.0,
  0.16599490046794346,
  0.03825451760049819,
  0.004686168615405503,
  0.1884698604316001,
  0.020380493449732896,
  0.06717845923475946,
  0.14804289427970216,
  0.02635775031853141,
  0.21687697270943346,
  0.02387763128461633,
  0.04669832515908499,
  0.027349786030904568,
  0.048619383075098686,
  0.15663835537334223,
  0.09739224702204324,
  0.09146758141147113,
  0.067934147035909,
  0.05474293332579291,
  0.017084793856974263,
  0.021364258827227568,
  0.07186017989076707,
  0.053383098945754666,
  0.2344873340732357],
 [0.06914021416015458,
  0.08211288191957365,
  0.05626391782585441,
  0.14894906395370405,
  0.03979290314807692,
  0.17826442837483608,
  0.01286150999159497,
  0.04825432110331589,
  -0.003970769161455517,
  nan,
  0.1002067013116768,
  0.197361616775435,
  0.16599490046794346,
  1.0,
  0.052916950255810925,
  0.0069905242443463415,
  0.01632663421411804,
  -0.0065969437675991865,
  0.04738004401899142,
  0.029674005123140917,
  0.021368719295056623,
  0.014649841324913556,
  0.019261072892402607,
  0.03005026524897252,
  0.046774904614087974,
  0.014415242148335528,
  0.03503760481312681,
  0.004856922325204305,
  0.011913538389809816,
  0.009803132132029732,
  -0.002919317365247098,
  0.007925056453266037,
  -0.003109735569540421,
  0.04134064962246561,
  0.0024148159620510784,
  0.06700319460102439],
 [0.08476225024139751,
  0.0627933287193064,
  0.05424318287593133,
  0.1826036842006872,
  0.021601106539202462,
  0.04399990945813915,
  0.014457364051899296,
  -0.001631539648780871,
  -0.0011638314205698207,
  nan,
  0.026506674584257928,
  0.05384023044046018,
  0.03825451760049819,
  0.052916950255810925,
  1.0,
  0.0027191516471054655,
  0.016758183059238523,
  -0.0018427129831822932,
  0.08924331813129094,
  0.06260084954593688,
  0.027151754755861048,
  0.03620875788112506,
  0.021173195500313543,
  0.024024401345791695,
  0.02824391815007125,
  0.02725157050206662,
  0.03505504108928949,
  0.05271533307852953,
  0.06913607367341006,
  0.04567756141578152,
  0.023361847567410547,
  0.003703002485855013,
  0.06234124047505127,
  0.005036924462684789,
  0.03225956976453122,
  0.016773712333897454],
 [0.05918517608320521,
  0.027870736124414913,
  -0.007210712469400412,
  0.12750288214472402,
  0.08554338145834181,
  0.10075247985923097,
  0.2278542178251043,
  0.14803248304955735,
  0.024692546073548597,
  nan,
  0.004406956762143284,
  -0.012836822773182856,
  0.004686168615405503,
  0.0069905242443463415,
  0.0027191516471054655,
  1.0,
  0.1363295026761442,
  0.1923022674034529,
  0.06690526697127618,
  0.04175894654393135,
  0.2036780739158799,
  0.03578276874357818,
  0.02284560277433888,
  0.037967598841384675,
  0.020136376125084746,
  0.02471206208020425,
  0.03163097868990214,
  0.029707829991164676,
  0.1228769110063022,
  0.17227060708126266,
  0.031227652184944242,
  0.00974677841153445,
  0.053222378217976714,
  0.028059211310974275,
  0.031233939453916594,
  0.008476491029021581],
 [0.10256474116853309,
  0.02408222224564503,
  -0.009323242633965043,
  0.22095566780158934,
  0.081205763115606,
  0.08195354765874488,
  0.12808097151341463,
  0.1075648577686244,
  0.057577781561102215,
  nan,
  0.03319040315412815,
  0.024582119525724012,
  0.1884698604316001,
  0.01632663421411804,
  0.016758183059238523,
  0.1363295026761442,
  1.0,
  0.10098596799898144,
  0.07540624819083357,
  0.12064585133242606,
  0.14211310721221357,
  0.08845724987400498,
  0.01693245689223168,
  0.023776405287517084,
  0.02374396322743805,
  0.04402822495664563,
  0.12531598663524032,
  0.08041438112706979,
  0.10539857214306746,
  0.14772707742758143,
  0.03759025300756387,
  0.032089063259458074,
  0.01753424778584592,
  0.032153613998144905,
  0.045776674046416554,
  0.005697990592893646],
 [0.12057223417098814,
  0.008859252757068916,
  -0.014689687011806984,
  0.2597492882649307,
  0.1204395808631669,
  0.05971695782205425,
  0.11390213585044762,
  0.098545705767051,
  0.09842603598990049,
  nan,
  0.007369896221960526,
  0.000501444758855338,
  0.020380493449732896,
  -0.0065969437675991865,
  -0.0018427129831822932,
  0.1923022674034529,
  0.10098596799898144,
  1.0,
  0.022763557449423898,
  0.07889701765294369,
  0.13501733751795214,
  0.120159328316113,
  0.013972275257215937,
  0.022993074190213642,
  0.02852177362454551,
  0.036682565859123197,
  0.035472730138570635,
  0.06748479836238011,
  0.16762742007679016,
  0.1584224245704751,
  0.07975667590983641,
  0.035746754934529695,
  0.09368196163187749,
  0.05311422917664051,
  0.08476729466481499,
  0.011040477469238362],
 [0.21472568299691502,
  0.24392325505214726,
  0.03286665801205764,
  0.4625844724042315,
  0.08265115804553087,
  0.10734363340359616,
  0.0832372386654722,
  0.06126494793476401,
  -0.0013008827675697083,
  nan,
  0.04490841309204806,
  0.036496465009048795,
  0.06717845923475946,
  0.04738004401899142,
  0.08924331813129094,
  0.06690526697127618,
  0.07540624819083357,
  0.022763557449423898,
  1.0,
  0.1381985398805533,
  0.11777574343882033,
  0.08261620512840688,
  0.08812372240613214,
  0.058303735959996446,
  0.028183397155355647,
  0.025463373016293478,
  0.0662970293598604,
  0.1359304982951444,
  0.16996738821224494,
  0.10674354917669812,
  0.05858391011259685,
  0.03494296121843325,
  0.10434421785802972,
  0.03315042231070282,
  0.09674811033614607,
  0.19282601675760086],
 [0.14557546747018918,
  0.021794099309117018,
  -0.013114116741797858,
  0.19804776565414126,
  0.10948225880313688,
  0.09758594239295984,
  0.09525501790875353,
  0.06564187651657755,
  0.054767007130235,
  nan,
  0.07928929987390212,
  0.04024352493161553,
  0.14804289427970216,
  0.029674005123140917,
  0.06260084954593688,
  0.04175894654393135,
  0.12064585133242606,
  0.07889701765294369,
  0.1381985398805533,
  1.0,
  0.12495255715456048,
  0.24736425274543392,
  0.10136781203617018,
  0.06108203984279675,
  0.39608116381202324,
  0.25711114252825784,
  0.4140836145546678,
  0.8124969493134658,
  0.23345769761014443,
  0.17223984564632602,
  0.11925355336294065,
  0.07596545393342123,
  0.0936218562247071,
  0.07751761060024616,
  0.1578074478548965,
  0.031287496252246715],
 [0.12094207340246162,
  0.025713623070607,
  -0.0038326267286056194,
  0.15535673596052163,
  0.23438647861406087,
  0.12199121894060608,
  0.1801702817887008,
  0.1475462576727733,
  0.02007421153468161,
  nan,
  0.023441933784729165,
  0.014539011099522195,
  0.02635775031853141,
  0.021368719295056623,
  0.027151754755861048,
  0.2036780739158799,
  0.14211310721221357,
  0.13501733751795214,
  0.11777574343882033,
  0.12495255715456048,
  1.0,
  0.12534316292667502,
  0.11985137197707574,
  0.039278155165527566,
  0.03184015773632881,
  0.044602491654329814,
  0.043687023368638465,
  0.13380964847158286,
  0.25674030525851166,
  0.3973858574454795,
  0.09418836555802873,
  0.0390514864288778,
  0.03414475540094347,
  0.0709315335266236,
  0.05968784215661034,
  0.03947505659314829],
 [0.12775266151823342,
  0.06299703949918654,
  -0.015564500612689101,
  0.14972825781727825,
  0.039814263900788495,
  0.0320277502623052,
  0.0934373238612914,
  0.043202299561481104,
  0.0061103905209883595,
  nan,
  0.031960083831332135,
  0.01509546141511864,
  0.21687697270943346,
  0.014649841324913556,
  0.03620875788112506,
  0.03578276874357818,
  0.08845724987400498,
  0.120159328316113,
  0.08261620512840688,
  0.24736425274543392,
  0.12534316292667502,
  1.0,
  0.09106199662667906,
  0.024409203451223754,
  0.06319404867533229,
  0.08976827088846799,
  0.08090403354288514,
  0.2495585385196192,
  0.21809717798236333,
  0.16272665777290723,
  0.11335232642106388,
  0.07180648483884369,
  0.11810380212018894,
  0.05434410172258146,
  0.09968427531125096,
  0.07555838406105099],
 [0.07943834598140634,
  0.010212859858334236,
  -0.0015953581951068392,
  0.07007998049780784,
  0.020707958364857476,
  0.047569139458135595,
  0.0566355142398889,
  0.03348566592068452,
  0.012980475811210222,
  nan,
  0.06207287950539776,
  0.000583766102545414,
  0.02387763128461633,
  0.019261072892402607,
  0.021173195500313543,
  0.02284560277433888,
  0.01693245689223168,
  0.013972275257215937,
  0.08812372240613214,
  0.10136781203617018,
  0.11985137197707574,
  0.09106199662667906,
  1.0,
  0.041021595083663175,
  0.02946928718129306,
  0.03432513377095347,
  0.03692030461173752,
  0.10779965042593394,
  0.13274304792545408,
  0.05640175107857294,
  0.1269572067119029,
  0.08726980949922383,
  0.015950366423945626,
  0.08312253938514544,
  0.058319358447203345,
  0.04930239138534436],
 [0.04311633335629506,
  0.01940982459234686,
  -0.005252995819933376,
  0.08590399845112809,
  0.05332262211037468,
  0.07666331290854246,
  0.0917653120313796,
  0.06710614313569857,
  0.03525927760571302,
  nan,
  0.033895049375011754,
  0.02695811833602041,
  0.04669832515908499,
  0.03005026524897252,
  0.024024401345791695,
  0.037967598841384675,
  0.023776405287517084,
  0.022993074190213642,
  0.058303735959996446,
  0.06108203984279675,
  0.039278155165527566,
  0.024409203451223754,
  0.041021595083663175,
  1.0,
  0.03938210106766934,
  0.031093827986787687,
  0.023333370758946783,
  0.050401087766695635,
  0.07316093315762456,
  0.032068686293176905,
  0.01889845334474802,
  0.06329313104223873,
  0.03897050389815898,
  0.0969918193831519,
  0.038892239591352365,
  0.016435677646620527],
 [0.0576597005780392,
  0.016385639744043983,
  -0.0015104057086469133,
  0.1084794670331234,
  0.16443561438511808,
  0.09955266183882519,
  0.07474863961329391,
  0.041449513300588534,
  0.03049561322035683,
  nan,
  0.03617875767606474,
  0.001693514732317258,
  0.027349786030904568,
  0.046774904614087974,
  0.02824391815007125,
  0.020136376125084746,
  0.02374396322743805,
  0.02852177362454551,
  0.028183397155355647,
  0.39608116381202324,
  0.03184015773632881,
  0.06319404867533229,
  0.02946928718129306,
  0.03938210106766934,
  1.0,
  0.042132231502862855,
  0.13566166068290378,
  0.0460761643382574,
  0.06607435836268409,
  0.023834315282642404,
  0.010953491802587211,
  0.03562502349220567,
  0.04497540681146159,
  0.05843085195930038,
  0.036655515094570344,
  0.020751459249435573],
 [0.037429074765333276,
  0.032323884553582774,
  -0.00456009957204735,
  0.06457254024192051,
  0.036474600545545834,
  0.04401608881541313,
  0.02305513419780735,
  0.04613365073164725,
  0.02240782366228813,
  nan,
  0.04705219232160525,
  0.04240646403197561,
  0.048619383075098686,
  0.014415242148335528,
  0.02725157050206662,
  0.02471206208020425,

### 7. Save the clean dataset into an sqlite database.
You can do this with pandas [`to_sql` method](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_sql.html) combined with the SQLAlchemy library. Remember to import SQLAlchemy's `create_engine` in the first cell of this notebook to use it below.

In [74]:
engine = create_engine('sqlite:///disaster_response_data.db')
df.to_sql('messages_categorized', engine, index=False)

### 8. Use this notebook to complete `etl_pipeline.py`
Use the template file attached in the Resources folder to write a script that runs the steps above to create a database based on new datasets specified by the user. Alternatively, you can complete `etl_pipeline.py` in the classroom on the `Project Workspace IDE` coming later.